.register_box
{
    width: 447px;
    min-height: 485px;
    background-color: #c7f85dac;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px rgb(234, 145, 145);
    padding: 71px 22px;
    margin-top: 86px;
    font-size: 21px;
    font-weight: 400;
}

input{
    width: 188px;
    height: 43px;
    }

.container
{
    display: flex;
    justify-content: center;
}

button{
    width: 144px;
    padding: 5px;    
    height: 41px;
}
