<p>forgotpassword works!</p>
<div class="container mt-4">
	<div class="forget_pswd_box">
		<h2 class="text-center mb-5">Forget Password</h2>
		
		<div class="row">
			<div class="col mb-3">Enter Username:</div>
			<div class="col mb-3">
			<input type="text" id="user" name="user" [(ngModel)]="forget_userName" class="form-control" />
			</div>
		</div>

		<div class="text-center">
			<button type="button" class="btn btn-primary mt-4">Reset Password</button>
		</div>

		<div class="row mt-4">
			<div class="col">{{ msg }}</div>
		</div>
	</div>
</div>